// for pixelperfect
.chromeperfectpixel-portal img.chromeperfectpixel-overlay {
  display: block !important;
}
::selection {
  background-color: rgba($secondary-color, 0.2);
}
html,
body,
.off-canvas-wrapper,
.off-canvas-content {
  height: 100%;
}
.off-canvas-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  min-width: 320px;
}
.off-canvas {
  &.is-open {
    & ~ .off-canvas-content {
      .burger {
        i {
          &:first-child {
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}
.sticky-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > .main {
    flex: 1 0 auto;
  }
}
// hide the sprite
.sprite-container {
  position: absolute;
  bottom: -8000px;
  overflow: hidden;
  height: 0;
}
a,
button {
  outline: 0;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
}
a {
  line-height: 1;
}
ol,
ul {
  &.list {
    margin: rem-calc(10 0 20);
    li {
      position: relative;
      padding: rem-calc(15 0);
      line-height: unitless-calc(20.0001, 15);
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
ol {
  &.list {
    list-style: none;
    counter-reset: items-counter;
    li {
      padding-left: rem-calc(42);
      &:before {
        content: counter(items-counter);
        counter-increment: items-counter;
        display: inline-block;
        width: rem-calc(32);
        height: rem-calc(32);
        font-size: rem-calc(16);
        line-height: 2;
        text-align: center;
        background-color: #f1f1f1;
      }
    }
  }
}
ul {
  &.list {
    li {
      padding-left: rem-calc(17);
      &:before {
        content: '\2022';
        font-size: rem-calc(26);
        line-height: 20px;
        font-weight: 700;
        color: $primary-color;
      }
    }
  }
}
svg {
  display: inline-block;
  vertical-align: middle;
  &.icon {
    fill: currentColor;
  }
}
blockquote {
  margin: rem-calc(20 0);
  font-size: rem-calc(18);
  line-height: unitless-calc(34, 20);
  font-weight: 600;
}
.title {
  &.bordered {
    position: relative;
    margin-bottom: rem-calc(42);
    &:after {
      content: '';
      position: absolute;
      bottom: rem-calc(-24);
      left: 0;
      width: rem-calc(40);
      height: 6px;
      background-color: $primary-color;
    }
    &.secondary {
      &:after {
        background-color: #fc0;
      }
    }
    &.centered {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.lead {
      &:after {
        width: rem-calc(66);
        height: 7px;
      }
    }
  }
}
.section-title {
  line-height: unitless-calc(32, 21);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
