input {
  &[type='text'] {
    height: rem-calc(50.0001);
  }
}
textarea {
  resize: none;
}
.select {
  position: relative;
  margin-bottom: rem-calc(20);
  background-color: $white;
  &:after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOS45OSAxMSI+PHRpdGxlPmFuZ2xlLWRvd248L3RpdGxlPjxnIGlkPSI2NTcyMGZkMC1jYTFkLTRmMDMtYjIzZC1jYjU3YTg5YzVlMWQiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IjE2NjIyM2Q2LTJkNDItNDU0ZC1hZGNiLWU5YmFlMWJkNDIzOCIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBkPSJNMCwuNS40OCwwLDEwLDEwLDE5LjUyLDAsMjAsLjUsMTAsMTFaIiBzdHlsZT0iZmlsbDojMmMyYzJjIi8+PC9nPjwvZz48L3N2Zz4=);
    position: absolute;
    top: 50%;
    right: 12px;
    width: 20px;
    transform: translateY(-50%);
  }
  select {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    padding: rem-calc(13 45 13 10);
    min-width: rem-calc(165);
    height: auto;
    border: 1px solid $light-gray;
    font-size: rem-calc(14);
    line-height: unitless-calc(22.1, 14);
    background-color: transparent;
    &:focus {
      box-shadow: none;
      border-color: $light-gray;
    }
  }
  &.plain {
    background-color: $body-background;
    &:after {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNC4yNCA5LjIzIj48dGl0bGU+cGxhaW4tc2VsZWN0LWFuZ2xlPC90aXRsZT48ZyBpZD0iNDQxNDdjYjktNTM1NS00Njg1LWE5YTQtNjFhNzBiZTQ2NDEwIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSI0ZTI5MzVhNi1lYTlmLTRlMWMtYmYxZi0zNzJiMTdlNjE1ZmIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBvbHlnb24gcG9pbnRzPSIxMi45IDAuMjUgNy42MiA2LjIgMS40MSAwIDAgMS40MSA2LjI4IDcuNyA2LjI1IDcuNzQgNy41OCA5LjIzIDE0LjI0IDEuNzUgMTIuOSAwLjI1IiBzdHlsZT0iZmlsbDojMjgyNDVkO2ZpbGwtcnVsZTpldmVub2RkIi8+PC9nPjwvZz48L3N2Zz4=);
      width: 15px;
    }
    select {
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      min-width: auto;
      border-color: transparent;
      font-size: rem-calc(13);
      line-height: unitless-calc(22.0001, 13);
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      letter-spacing: 0.1em;
      color: $anchor-color;
    }
  }
}
.checkbox {
  position: absolute;
  left: -9999px;
  pointer-events: none;
  & + label {
    position: relative;
    margin: 0;
    padding-left: rem-calc(29);
    font-size: rem-calc(15);
    line-height: unitless-calc(25, 15);
    cursor: pointer;
    user-select: none;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: rem-calc(20);
      height: rem-calc(20);
      border: 1px solid #c6c6c6;
      text-align: center;
      transform: translateY(-50%);
    }
    &:empty {
      padding-left: rem-calc(20);
    }
  }
  &:checked {
    & + label {
      &:before {
        color: $primary-color;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS45OCAxMS45OCI+PHRpdGxlPmNoZWNrLW1hcms8L3RpdGxlPjxnIGlkPSJlOTQ3NzZkMS01ZTE4LTQyYjgtODZmMC00ODg5MTU0ZmM2ODgiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IjZiMmVkNTkwLTJlMjYtNDlhYy04ZDk2LTAwODJkNDcyMGQyNCIgZGF0YS1uYW1lPSJMYXllciAxIj48cG9seWdvbiBwb2ludHM9IjE1Ljk4IDEuNjggMTQuMjYgMCA1LjI4IDguNzMgMS43MiA1LjI4IDAgNi45NiA1LjE3IDExLjk4IDUuNTQgMTEuNjMgNS42NCAxMS43MyAxNS45OCAxLjY4IiBzdHlsZT0iZmlsbDojMjAzODkzO2ZpbGwtcnVsZTpldmVub2RkIi8+PC9nPjwvZz48L3N2Zz4=);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 90%;
      }
    }
  }
}
.radio {
  @extend .checkbox;
  & + label {
    &:before {
      font-size: rem-calc(26);
      line-height: unitless-calc(19, 26);
      font-weight: $global-weight-bold;
      border-radius: 50%;
    }
  }
  &:checked {
    & + label {
      &:before {
        content: '\2022';
        background-image: none;
      }
    }
  }
}
.submit-button {
  margin: rem-calc(10 0);
  @include breakpoint(medium) {
    margin-top: rem-calc(17);
    margin-bottom: rem-calc(20);
  }
}
.form {
  input,
  textarea {
    margin-bottom: rem-calc(10);
  }
  textarea {
    height: rem-calc(101);
  }
  & > :last-child {
    margin-bottom: 0;
  }
  @include breakpoint(medium) {
    label {
      line-height: unitless-calc(46.001, 14);
    }
  }
}
