.main {
  @include breakpoint(large) {
    padding-bottom: rem-calc(38);
  }
}
.section {
  padding: rem-calc(10 0);
  @include breakpoint(medium) {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  @include breakpoint(large) {
    padding-top: rem-calc(36);
    padding-bottom: rem-calc(36);
  }
  @include breakpoint(medium down) {
    & + .section {
      padding-top: 0;
    }
    & + .shareholders {
      padding-top: rem-calc(20);
    }
  }
  @include breakpoint(small only) {
    & + .shareholders {
      padding-top: rem-calc(10);
    }
  }
}
.section-part {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
  }
}
.section-part-title {
  @include breakpoint(large) {
    margin-bottom: rem-calc(20);
  }
}
.picture-container,
.picture-container-content {
  position: relative;
}
.picture-container {
  overflow: hidden;
  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    max-width: none;
    transform: translate(-50%, -50%);
  }
}
.picture-container-content {
  z-index: 2;
}
.card {
  a {
    color: #3328be;
    &:hover,
    &:focus {
      color: $anchor-color-hover;
    }
  }
}
.card-section {
  & + .card-section {
    padding-top: 0;
  }
  @include breakpoint(medium) {
    padding: rem-calc(30);
  }
}
.card-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  overflow: hidden;
  min-height: rem-calc(150);
  @include breakpoint(medium) {
    min-height: rem-calc(217);
  }
}
.card-info {
  p {
    margin-bottom: rem-calc(22);
  }
}
.card-date {
  color: #c3c3c3;
}
.blocks-cell,
.content-block {
  margin-bottom: rem-calc(10);
  @include breakpoint(medium) {
    margin-bottom: rem-calc(20);
  }
}
.blocks-card {
  margin-bottom: 0;
  height: 100%;
}
.content-card {
  margin-bottom: rem-calc(10);
  padding: rem-calc(20 15);
  border: 1px solid $light-gray;
  background-color: $white;
  & > :last-child {
    margin-bottom: 0;
  }
  @include breakpoint(medium) {
    padding: rem-calc(30);
    p {
      margin-bottom: rem-calc(26);
    }
    .feedback-date {
      margin-bottom: rem-calc(18);
    }
  }
  @include breakpoint(large) {
    padding: rem-calc(71 85);
  }
}
.custom-object {
  padding: $global-padding;
  border: 1px solid $light-gray;
  color: $body-font-color;
  background-color: $white;
  &:hover,
  &:focus {
    color: $body-font-color;
    .custom-object-title {
      color: $anchor-color;
    }
  }
  @include breakpoint(medium) {
    padding: rem-calc(30);
    p {
      margin-bottom: rem-calc(26);
    }
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(20);
  }
  @include breakpoint(small only) {
    &.stack-for-small {
      .custom-object-picture {
        padding-bottom: 0;
        img {
          width: auto;
        }
      }
    }
  }
}
.custom-object-picture {
  height: rem-calc(160);
  &:first-child {
    padding: 0;
  }
  @include breakpoint(medium) {
    margin-right: rem-calc(20);
    width: rem-calc(160);
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }
}
.custom-object-title {
  @include breakpoint(medium) {
    margin-bottom: rem-calc(24);
  }
}
.small-expanded {
  @include breakpoint(small only) {
    width: 100%;
  }
}
