@include breakpoint(medium) {
  ol,
  ul {
    &.list {
      margin-bottom: rem-calc(30);
    }
  }
  blockquote {
    margin-left: rem-calc(-16);
    font-size: rem-calc(20);
  }
  .submit-button {
    margin-top: rem-calc(17);
    margin-bottom: rem-calc(20);
  }
  .form {
    label {
      line-height: unitless-calc(46, 14);
    }
  }

  // Home page
  .header-content {
    padding-top: rem-calc(13);
    padding-bottom: rem-calc(13);
    border-bottom: 1px solid #cdccdb;
  }
  .header-logo {
    display: flex;
    align-items: center;
    max-width: rem-calc(380);
  }
  .header-phone-link {
    font-size: rem-calc(24);
    line-height: unitless-calc(32, 30);
    font-weight: 600;
  }
  .section {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  .section-title,
  .page-title {
    margin-bottom: rem-calc(20);
  }
  .title {
    &.bordered {
      margin-bottom: rem-calc(82);
      &:after {
        bottom: rem-calc(-45);
      }
    }
  }
  .blocks-cell,
  .content-block {
    margin-bottom: rem-calc(20);
  }
  .card-section {
    padding: rem-calc(30);
  }
  .card-picture {
    min-height: rem-calc(217);
  }
  .hero-slider {
    .swiper-pagination {
      padding-left: rem-calc(48);
      padding-right: rem-calc(48);
    }
    &.swiper-container-horizontal {
      & > .swiper-pagination-bullets {
        bottom: rem-calc(37);
      }
    }
  }
  .hero-slide-content {
    padding: rem-calc(58 53 70);
    max-width: rem-calc(461);
    p {
      padding-right: rem-calc(10);
    }
  }
  .hero-slide-info {
    margin-bottom: rem-calc(42);
  }
  .advantages-card-picture {
    padding-top: rem-calc(47);
  }
  .advantages-card-info {
    padding-bottom: rem-calc(52);
  }
  .advantages-card-title {
    margin-bottom: rem-calc(26);
  }
  .news-card-info {
    padding-bottom: rem-calc(24);
  }
  .section-part {
    display: flex;
    flex-direction: column;
  }
  .shareholders {
    padding-top: 0;
  }
  .shareholders-card-picture {
    height: rem-calc(175);
  }
  .custom-card-info {
    padding: rem-calc(26 26 36);
  }
  .publications-card-picture {
    height: rem-calc(180);
  }
  .articles-card-info {
    padding-bottom: rem-calc(48);
  }
  .content-card {
    padding: rem-calc(30);
    p {
      margin-bottom: rem-calc(26);
    }
    .feedback-date {
      margin-bottom: rem-calc(18);
    }
  }
  .links {
    &.simple {
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        min-height: rem-calc(33);
      }
    }
  }
  .copyright {
    margin-bottom: 0;
  }

  // Inner page
  .custom-object {
    padding: rem-calc(30);
    p {
      margin-bottom: rem-calc(26);
    }
  }
  .custom-object-picture {
    margin-right: rem-calc(20);
    width: rem-calc(160);
  }
  .custom-object-title {
    margin-bottom: rem-calc(24);
  }
  .content-card-title {
    margin-bottom: rem-calc(46);
    font-size: rem-calc(25);
  }
  .sidebar {
    img {
      margin-bottom: rem-calc(20);
    }
  }
  .sidebar-item {
    padding: rem-calc(20 30 30);
  }
  .banner {
    height: rem-calc(425);
  }
  .banner-content {
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);
  }
  .banner-title {
    font-size: rem-calc(40);
    line-height: unitless-calc(55, 40);
    &.bordered {
      &:after {
        bottom: rem-calc(-30);
      }
    }
  }
  .content {
    img {
      margin-bottom: rem-calc(20);
    }
  }
  .content-table {
    th,
    td {
      &:last-child {
        padding-right: 0;
        text-align: right;
        label {
          float: right;
        }
      }
    }
  }
  .video-title {
    font-size: rem-calc(25);
  }
  .feedback-item {
    margin-bottom: rem-calc(36);
  }
  .feedback-date {
    margin-bottom: rem-calc(18);
  }
  .map {
    height: rem-calc(400);
  }
  .dealers-map {
    height: rem-calc(360);
  }
  .timeline-card {
    padding: rem-calc(33 60 33 10);
  }
  .timeline-item {
    &:not(:last-child) {
      background-position: 63px 0;
    }
  }
  .timeline-item-date {
    flex-basis: rem-calc(128);
    padding: rem-calc(22 10);
  }

  // Catalog page
  .selection-card {
    min-height: rem-calc(129);
  }
  .special-card-picture {
    height: rem-calc(182);
  }
  .special-card-info {
    padding: rem-calc(32);
  }
  .special-card-title {
    margin-bottom: rem-calc(20);
  }

  //Product page
  .product-card,
  .parameters-card {
    padding: rem-calc(20);
  }
  .product-gallery-main {
    margin-bottom: 17px;
    height: rem-calc(400);
  }
  .product-gallery-thumbs {
    height: 72px;
  }
  .details-table-wrapper,
  .parameters-table-wrapper {
    margin-bottom: rem-calc(33);
  }
  .order {
    border-width: 25px;
  }
  .order-content {
    padding: rem-calc(60 60 40);
  }
  .order-title {
    font-size: rem-calc(26);
    &.bordered {
      margin-bottom: rem-calc(70);
      &:after {
        bottom: rem-calc(-35);
      }
    }
  }
  .order-button {
    margin-top: rem-calc(37);
  }

  // Article page
  .article-table-block {
    margin-left: rem-calc(-30);
    margin-right: rem-calc(-30);
    padding: rem-calc(20 0);
  }
  .article-content-table {
    th,
    td {
      &:first-child {
        padding-left: rem-calc(30);
      }
      &:last-child {
        padding-right: rem-calc(30);
      }
    }
  }
  .article-video {
    padding-top: rem-calc(18);
    padding-bottom: rem-calc(17);
  }

  // Contacts page
  .contact-card {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
  }
  .contact-item-title {
    &.tel {
      font-size: rem-calc(22);
    }
  }
  .contact-detail-title {
    margin-bottom: rem-calc(27);
  }

  // Staff page
  .staff-content-title {
    font-size: rem-calc(23);
  }
  .chief-card-picture {
    min-height: rem-calc(268);
  }
  .chief-card-info {
    padding-bottom: rem-calc(40);
  }
  .chief-card-title,
  .chief-panel-title {
    font-size: rem-calc(18);
  }

  // Error page
  .error-picture {
    margin-bottom: rem-calc(40);
  }
  .error-title {
    margin-bottom: rem-calc(20);
    font-size: rem-calc(30);
  }
  .error-search {
    position: relative;
    input {
      padding-right: rem-calc(140);
    }
  }
  .error-search-submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

@include breakpoint(large) {
  ol,
  ul {
    &.list {
      margin-top: rem-calc(35);
      margin-bottom: rem-calc(50);
    }
  }
  blockquote {
    margin-top: rem-calc(52);
    margin-bottom: rem-calc(52);
  }
  .form {
    input,
    textarea {
      margin-bottom: rem-calc(30);
    }
  }

  // Home page
  .main {
    padding-bottom: rem-calc(38);
  }
  .header-phone-link {
    font-size: rem-calc(30);
  }
  .navigation-menu {
    li {
      letter-spacing: 0.1em;
    }
  }
  .section {
    padding-top: rem-calc(36);
    padding-bottom: rem-calc(36);
  }
  .section-title {
    margin-bottom: rem-calc(34);
  }
  .hero {
    padding-bottom: rem-calc(10);
  }
  .goods-blocks {
    padding-bottom: rem-calc(17);
  }
  .advantages {
    padding-bottom: rem-calc(15);
  }
  .delivery-map,
  .news {
    padding-top: rem-calc(36);
    padding-bottom: rem-calc(4);
  }
  .delivery-map-picture {
    position: relative;
    overflow: hidden;
    & > img {
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0;
      max-width: none;
      transform: translate(0, -50%);
    }
  }
  .news-card {
    margin-bottom: rem-calc(20);
  }
  .section-part-title {
    margin-bottom: rem-calc(20);
  }
  .custom-card {
    margin-bottom: 0;
  }
  .content-card {
    padding: rem-calc(71 85);
  }
  .shareholders-card-picture {
    height: rem-calc(190);
  }
  .publications-card-picture {
    height: rem-calc(359);
  }
  .about-content-card {
    margin-bottom: 0;
  }
  .footer {
    background-image: linear-gradient(90deg, #1e1a51 25%, #1a1744 0);
    background-repeat: no-repeat;
  }
  .footer-col {
    padding-top: rem-calc(52);
    padding-bottom: rem-calc(52);
  }
  .footer-logo {
    margin-bottom: rem-calc(40);
  }
  .footer-phone-link {
    margin-bottom: rem-calc(16);
  }
  .footer-callback,
  .footer-infoblock {
    margin-bottom: rem-calc(44);
  }
  .footer-infoblock {
    p {
      margin-bottom: rem-calc(12);
    }
  }
  .footer-content {
    padding-top: rem-calc(12);
    padding-left: rem-calc(10);
  }
  .links-col {
    & + .links-col {
      border-left: 1px solid #302c68;
      .links-col-title,
      .links {
        padding-left: rem-calc(10);
      }
    }
  }
  .links-col-title {
    margin-bottom: rem-calc(28);
  }
  .links {
    &.simple {
      li {
        min-height: rem-calc(59);
      }
    }
  }
  .copyright {
    padding-right: rem-calc(35);
  }

  // Inner page
  .custom-object {
    margin-bottom: rem-calc(20);
  }
  .pagination {
    padding-top: rem-calc(34);
    padding-bottom: rem-calc(34);
  }
  .blog-sidebar {
    padding-top: rem-calc(10);
  }
  .sidebar-item {
    padding: rem-calc(20 30 30);
  }
  .banner {
    margin-bottom: rem-calc(45);
  }
  .banner-content {
    padding-left: rem-calc(70);
    padding-right: rem-calc(70);
  }
  .content {
    img {
      margin-bottom: rem-calc(42);
    }
  }
  .feedback-items {
    padding-bottom: rem-calc(23);
  }
  .map {
    height: rem-calc(560);
  }
  .dealers-map {
    height: rem-calc(500);
  }
  .timeline-card {
    margin-bottom: rem-calc(100);
    padding: rem-calc(33 60 33 10);
  }

  // Catalog page
  .catalog-kinds {
    padding-top: rem-calc(30);
  }
  .special-section {
    padding-bottom: 0;
  }
  .special-card-picture {
    height: rem-calc(240);
  }
  .category-content-card {
    margin-bottom: rem-calc(40);
    padding: rem-calc(90 80 86);
  }

  //Product page
  .product-card {
    margin-bottom: rem-calc(45);
    padding: rem-calc(30 20);
  }
  .parameters-card {
    margin-bottom: rem-calc(80);
    padding: rem-calc(0 9 33);
  }
  .parameters-table-wrapper {
    margin-top: rem-calc(54);
    margin-bottom: rem-calc(55);
  }
  .order {
    margin-bottom: rem-calc(62);
  }
  .order-title {
    line-height: 1;
  }

  // Blog page
  .blog-title {
    margin-bottom: rem-calc(40);
  }

  // Article page
  .article-card {
    margin-bottom: rem-calc(40);
    padding: rem-calc(56 40 50);
  }
  .article-objects {
    padding-bottom: rem-calc(21);
  }
  .article-table-block {
    margin-left: rem-calc(-40);
    margin-right: rem-calc(-40);
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(52);
  }
  .article-content-table {
    th,
    td {
      &:first-child {
        padding-left: rem-calc(40);
      }
      &:last-child {
        padding-right: rem-calc(40);
      }
    }
  }

  // Contacts page
  .contact-card {
    padding: rem-calc(16 30);
  }
  .contact-info-card {
    overflow: auto;
    margin-right: rem-calc(-20);
    height: 100%;
    max-height: rem-calc(560);
  }
  .contact-map {
    margin-left: rem-calc(20);
  }
  .contact-details {
    margin-bottom: rem-calc(36);
    padding: rem-calc(40 30 26);
  }
  .contacts-about-card {
    margin-bottom: 0;
    padding: rem-calc(50 30 45);
  }
  .dealers {
    padding-bottom: rem-calc(9);
  }
  .dealer {
    padding: rem-calc(30 30 20);
  }

  // Staff page
  .staff-title {
    margin-bottom: rem-calc(38);
  }
  .staff-card {
    margin-bottom: rem-calc(25);
    padding: rem-calc(43 30);
  }
  .staff-content-title {
    margin-bottom: rem-calc(24);
  }
  .chiefs {
    padding-bottom: rem-calc(25);
  }
  .chief-panel {
    padding: rem-calc(40 30 50);
  }
  .chief-panel-title {
    margin-bottom: rem-calc(28);
  }

  // Error page
  .error-card {
    margin-bottom: rem-calc(37);
    padding: rem-calc(152 80 132);
  }
  .error-picture {
    margin-bottom: 0;
  }
  .error-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .error-title {
    margin-bottom: rem-calc(30);
  }
  .error-search {
    input,
    button {
      margin-bottom: 0;
    }
    input {
      padding-left: rem-calc(23);
    }
  }
}

@include breakpoint(xlarge) {
  // Home page
  .hero-slider {
    .hero-slide {
      height: rem-calc(508);
    }
  }
  .hero-slide-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(65);
    height: 100%;
  }
  .hero-slide-inner {
    overflow: hidden;
  }
  .shareholders-card-picture {
    height: rem-calc(229);
  }
  .footer-content {
    padding-left: rem-calc(28);
  }

  // Inner page
  .subscribe-title {
    margin-right: rem-calc(-8);
  }
  .timeline-card {
    padding-right: rem-calc(100);
  }

  // Staff page
  .chief-card-wrapper {
    .chief-card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  // Error page
  .error-search {
    input {
      padding-right: rem-calc(190);
    }
  }
  .error-search-submit {
    min-width: rem-calc(180);
  }
}

@include breakpoint(large down) {
  // Staff page
  .chiefs-tabs {
    .chief-card {
      text-align: center;
    }
  }
}

@include breakpoint(medium down) {
  // Home page
  .section {
    & + .section {
      padding-top: 0;
    }
  }

  // Staff page
  .chief-card {
    text-align: center;
  }
}

@include breakpoint(medium only) {
  // Home page
  .news-cards,
  .news-card-info,
  .purchase-list,
  .purchase-item {
    display: flex;
  }
  .news-card-info {
    flex-direction: column;
    padding: rem-calc(20 15);
  }
  .news-card-date,
  .purchase-item-date {
    margin-top: auto;
  }
  .purchase {
    padding-left: 0;
    padding-right: 0;
  }
  .purchase-item {
    flex-direction: column;
    height: 100%;
  }
  .purchase-list {
    border-bottom: 1px solid $medium-gray;
    li {
      & + li {
        border-top: 0;
        border-left: 1px solid $medium-gray;
      }
    }
  }

  // Category page
  .category-menu-wrapper {
    border-right: 1px solid $light-gray;
  }
  .category-menu {
    margin-bottom: 0;
  }
  .category-options {
    padding-left: 0;
    padding-right: 0;
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

@include breakpoint(small only) {
  .small-expanded {
    width: 100%;
  }

  // Home page
  .lead {
    font-size: rem-calc(18);
    line-height: 1.5;
  }
  .header-logo {
    svg {
      width: auto;
      height: rem-calc(42.01);
    }
  }
  .burger-wrapper {
    line-height: 0;
  }

  // Inner page
  .breadcrumbs {
    margin-bottom: rem-calc(10);
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);
    li {
      display: none;
      max-width: rem-calc(140);
      font-size: rem-calc(13);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-child,
      &:last-child {
        display: list-item;
      }
    }
  }
  .custom-object {
    &.stack-for-small {
      .custom-object-picture {
        padding-bottom: 0;
        img {
          width: auto;
        }
      }
    }
  }
  .custom-object-picture {
    margin-bottom: rem-calc(20);
  }
  .pagination {
    margin-bottom: rem-calc(20);
    li {
      margin-right: rem-calc(5);
      width: rem-calc(36);
    }
  }

  // Catalog page
  .selection-card {
    padding-left: 0;
  }

  //Product page
  .details-table-wrapper {
    padding-top: rem-calc(15);
    padding-bottom: 0;
  }
  .details-table {
    th,
    td {
      padding: rem-calc(10);
      & + th,
      & + td {
        padding-top: 0;
      }
      &:first-child {
        font-weight: 600;
      }
    }
  }
  .parameters-table {
    thead {
      tr {
        &:first-child {
          th {
            padding-top: rem-calc(18);
            padding-bottom: rem-calc(18);
          }
        }
        &:nth-child(2) {
          th {
            padding-top: rem-calc(15);
            padding-bottom: rem-calc(15);
          }
        }
      }
    }
    th,
    td {
      padding: rem-calc(10);
    }
  }

  // Article page
  .article-content-table {
    thead {
      background-color: #f9f9f9;
    }
    th,
    td {
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
      &:first-child,
      &:last-child {
        padding-left: rem-calc(15);
        padding-right: rem-calc(15);
      }
    }
    th {
      &:last-child {
        padding: 0;
      }
    }
    td {
      padding-top: rem-calc(6);
      padding-bottom: rem-calc(6);
      &:first-child {
        padding-top: rem-calc(20);
      }
      &:last-child {
        padding-bottom: rem-calc(20);
      }
    }
  }

  // Contacts page
  .contact-details {
    padding-bottom: rem-calc(5);
  }
  .contact-detail {
    margin-bottom: rem-calc(30);
  }
}

@media screen and (max-width: 480px) {
  // Inner page
  .timeline-card {
    padding: rem-calc(20 15 10);
  }
  .timeline {
    padding-bottom: 0;
  }
  .timeline-item {
    display: block;
    &:not(:last-child) {
      background-image: none;
    }
  }
  .timeline-item-date,
  .timeline-item-content {
    padding: 0;
  }
  .timeline-item-date {
    margin-bottom: rem-calc(10);
  }
  .timeline-item-content {
    margin-bottom: rem-calc(30);
  }
}
