.breadcrumbs {
  overflow: hidden;
  padding: rem-calc(26 0);
  white-space: nowrap;
  text-overflow: ellipsis;
  li {
    float: none;
    display: inline-block;
    line-height: unitless-calc(19, 14);
  }
  a {
    display: inline-block;
    border-bottom: 1px solid $primary-color;
    &:hover,
    &:focus {
      border-color: transparent;
      text-decoration: none;
      color: $anchor-color;
    }
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(10);
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);
    li {
      display: none;
      max-width: 100%;
      font-size: rem-calc(13);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-child,
      &:last-child {
        display: inline-block;
      }
    }
  }
}
