.footer {
  color: #8c89b9;
  background-color: #1a1744;
  @include breakpoint(large) {
    background-image: linear-gradient(90deg, #1e1a51 25%, #1a1744 0);
    background-repeat: no-repeat;
  }
}
.footer-col {
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(30);
  @include breakpoint(large) {
    padding-top: rem-calc(52);
    padding-bottom: rem-calc(52);
  }
}
.footer-contact-col {
  background-color: #1e1a51;
}
.footer-logo {
  display: inline-block;
  margin-bottom: rem-calc(30);
  @include breakpoint(large) {
    margin-bottom: rem-calc(40);
  }
}
.footer-callback,
.footer-infoblock {
  margin-bottom: rem-calc(30);
  a {
    display: inline-block;
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(44);
  }
}
.footer-phone-link {
  margin-bottom: rem-calc(8);
  font-size: rem-calc(31);
  font-weight: $global-weight-bold;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(16);
  }
}
.footer-callback-link {
  line-height: 1;
  color: #ffd37f;
  &:hover,
  &:focus {
    color: $white;
  }
}
.footer-infoblock {
  p {
    margin-bottom: rem-calc(6);
    line-height: unitless-calc(22, 15);
    @include breakpoint(large) {
      margin-bottom: rem-calc(12);
    }
  }
}
.contact-infoblock {
  color: $white;
}
.mail-infoblock {
  a {
    margin-bottom: rem-calc(8);
    color: $white;
    &:hover,
    &:focus {
      color: #ffd37f;
    }
  }
}
.scl-menu {
  margin-bottom: rem-calc(16);
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem-calc(53);
    height: rem-calc(53);
    border-radius: 50%;
    color: $white;
    background-color: #3d3781;
    &:hover,
    &:focus {
      background-color: $anchor-color;
    }
  }
  &.simple {
    li {
      & + li {
        margin-left: rem-calc(20);
      }
    }
  }
}
.footer-content {
  align-content: space-between;
  height: 100%;
  @include breakpoint(large) {
    padding-top: rem-calc(12);
    padding-left: rem-calc(10);
  }
  @include breakpoint(xlarge) {
    padding-left: rem-calc(28);
  }
}
.links-col {
  margin-bottom: rem-calc(30);
  @include breakpoint(large) {
    & + .links-col {
      border-left: 1px solid #302c68;
      .links-col-title,
      .links {
        padding-left: rem-calc(10);
      }
    }
  }
}
.links-col-title {
  margin-bottom: rem-calc(10);
  line-height: unitless-calc(30.05, 17);
  @include breakpoint(large) {
    margin-bottom: rem-calc(28);
  }
}
.links {
  &.simple {
    align-items: flex-start;
    li {
      padding: rem-calc(6 0);
      & + li {
        margin-left: 0;
      }
      @include breakpoint(medium) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        min-height: rem-calc(33);
      }
      @include breakpoint(large) {
        min-height: rem-calc(59);
      }
    }
    a {
      line-height: unitless-calc(21, 15);
      color: $white;
      &:hover,
      &:focus {
        color: #ffd37f;
      }
    }
  }
}
.copyright {
  font-size: rem-calc(14);
  line-height: unitless-calc(25.05, 14);
  a {
    display: inline-block;
    border-bottom: 1px solid #8c89b9;
    color: #8c89b9;
    &:hover,
    &:focus {
      border-bottom-color: transparent;
    }
  }
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
  @include breakpoint(large) {
    padding-right: rem-calc(35);
  }
}
