.header {
  background-color: $white;
  box-shadow: 0 0 18px rgba($black, 0.11);
}
.header-content {
  padding-top: rem-calc(6);
  padding-bottom: rem-calc(6);
  @include breakpoint(medium) {
    padding-top: rem-calc(13);
    padding-bottom: rem-calc(13);
    border-bottom: 1px solid #cdccdb;
  }
}
.header-logo {
  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    max-width: rem-calc(380);
  }
  @include breakpoint(small only) {
    svg {
      width: auto;
      height: rem-calc(42.01);
    }
  }
}
.logo-text {
  padding-left: rem-calc(12);
  font-size: rem-calc(23);
  line-height: unitless-calc(32, 23);
  font-weight: 600;
  color: $black;
  &:hover,
  &:focus {
    color: $black;
  }
}
.phone-link {
  display: inline-block;
  &:hover,
  &:focus {
    color: $anchor-color;
  }
}
.header-phone-link {
  @include breakpoint(medium) {
    font-size: rem-calc(24);
    line-height: unitless-calc(32, 30);
    font-weight: 600;
  }
  @include breakpoint(large) {
    font-size: rem-calc(30);
  }
}
.callback-link {
  display: inline-block;
  line-height: unitless-calc(32.0001, 15);
}
.header-callback-link {
  color: $primary-color;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}
.options-panel-select {
  margin-bottom: 0;
}
