.svg-advantage-1-dims {
	width: 68px;
	height: 68px;
}

.svg-advantage-2-dims {
	width: 62px;
	height: 62px;
}

.svg-advantage-3-dims {
	width: 432.67px;
	height: 468px;
}

.svg-advantage-4-dims {
	width: 60px;
	height: 60px;
}

.svg-advantage-5-dims {
	width: 60px;
	height: 60px;
}

.svg-advantage-6-dims {
	width: 90.01px;
	height: 90.01px;
}

.svg-angle-down-dims {
	width: 14.25px;
	height: 9.25px;
}

.svg-angle-left-dims {
	width: 11px;
	height: 20px;
}

.svg-angle-right-dims {
	width: 11px;
	height: 20px;
}

.svg-arrow-left-dims {
	width: 14.219px;
	height: 23.719px;
}

.svg-arrow-right-dims {
	width: 14.219px;
	height: 23.719px;
}

.svg-fcb-dims {
	width: 12px;
	height: 21px;
}

.svg-magnifier-dims {
	width: 28px;
	height: 28px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-plain-select-angle-dims {
	width: 14.24px;
	height: 9.23px;
}

.svg-selection-1-dims {
	width: 101.5px;
	height: 101.5px;
}

.svg-selection-10-dims {
	width: 62px;
	height: 62px;
}

.svg-selection-11-dims {
	width: 87.1px;
	height: 83.8px;
}

.svg-selection-12-dims {
	width: 23px;
	height: 23px;
}

.svg-selection-13-dims {
	width: 87.26px;
	height: 78.66px;
}

.svg-selection-14-dims {
	width: 46.26px;
	height: 60px;
}

.svg-selection-2-dims {
	width: 93.4px;
	height: 93.4px;
}

.svg-selection-3-dims {
	width: 60px;
	height: 60px;
}

.svg-selection-4-dims {
	width: 60px;
	height: 51.69px;
}

.svg-selection-5-dims {
	width: 15px;
	height: 30px;
}

.svg-selection-6-dims {
	width: 16.8px;
	height: 23.69px;
}

.svg-selection-7-dims {
	width: 48px;
	height: 47.97px;
}

.svg-selection-8-dims {
	width: 21.31px;
	height: 23.88px;
}

.svg-selection-9-dims {
	width: 98.5px;
	height: 96.65px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

.svg-ytb-dims {
	width: 278.33px;
	height: 188.33px;
}

