.svg-advantage-1-dims {
	width: 68px;
	height: 68px;
}

.svg-advantage-2-dims {
	width: 62px;
	height: 62px;
}

.svg-advantage-3-dims {
	width: 432.67px;
	height: 468px;
}

.svg-advantage-4-dims {
	width: 60px;
	height: 60px;
}

.svg-advantage-5-dims {
	width: 60px;
	height: 60px;
}

.svg-advantage-6-dims {
	width: 90.01px;
	height: 90.01px;
}

.svg-angle-down-dims {
	width: 14.25px;
	height: 9.25px;
}

.svg-fcb-dims {
	width: 12px;
	height: 21px;
}

.svg-magnifier-dims {
	width: 28px;
	height: 28px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-plain-select-angle-dims {
	width: 14.24px;
	height: 9.23px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

.svg-ytb-dims {
	width: 278.33px;
	height: 188.33px;
}

