.article-subscribe-title {
  font-size: rem-calc(19);
  line-height: unitless-calc(23, 19);
}
.article-table-block {
  margin-left: rem-calc(-15);
  margin-right: rem-calc(-15);
  padding-top: rem-calc(10);
}
.article-video {
  padding: rem-calc(10 0);
}
