.error-card {
  padding: rem-calc(30 15 10);
  @include breakpoint(large) {
    margin-bottom: rem-calc(37);
    padding: rem-calc(152 80 132);
  }
}
.error-picture {
  margin-bottom: rem-calc(30);
  svg {
    max-width: 100%;
  }
  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }
  @include breakpoint(large) {
    margin-bottom: 0;
  }
}
.error-info {
  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.error-title {
  margin-bottom: rem-calc(10);
  line-height: unitless-calc(42, 30);
  font-weight: $global-weight-normal;
  @include breakpoint(medium) {
    margin-bottom: rem-calc(20);
    font-size: rem-calc(30);
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(30);
  }
}
.error-message {
  margin-bottom: rem-calc(30);
  a {
    display: inline-block;
    border-bottom: 1px solid #251e81;
    color: #251e81;
    &:hover,
    &:focus {
      border-color: transparent;
      color: #251e81;
    }
  }
}
.error-search {
  input,
  button {
    margin-bottom: rem-calc(15);
    padding: rem-calc(16 10);
    height: rem-calc(58);
  }
  input {
    border: 3px solid #251e81;
    font-size: rem-calc(14);
    line-height: unitless-calc(19.001, 14);
    @include placeholder {
      color: #2c2c2c;
    }
    &:hover,
    &:focus {
      border: 3px solid #251e81;
    }
  }
  @include breakpoint(medium) {
    position: relative;
    input {
      padding-right: rem-calc(140);
    }
  }
  @include breakpoint(large) {
    input,
    button {
      margin-bottom: 0;
    }
    input {
      padding-left: rem-calc(23);
    }
  }
  @include breakpoint(xlarge) {
    input {
      padding-right: rem-calc(190);
    }
  }
}
.error-search-submit {
  min-width: rem-calc(130);
  @include breakpoint(medium) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  @include breakpoint(xlarge) {
    min-width: rem-calc(180);
  }
}
