.page-title {
  max-width: rem-calc(850);
  color: $anchor-color;
}
.custom-object-title {
  line-height: 1;
}
.pagination {
  li {
    width: rem-calc(40);
    line-height: 1;
    text-align: center;
    background-color: $white;
    &.pagination-previous,
    &.pagination-next {
      width: rem-calc(20.0001);
      background-color: transparent;
      a {
        padding: rem-calc(10 0);
      }
    }
  }
}
.content-card-title {
  margin-bottom: $global-margin;
  font-size: rem-calc(22);
  line-height: 1;
  font-weight: 600;
}
.publications-title {
  color: $body-font-color;
}
.banner {
  background-color: $primary-color;
}
.banner-content {
  position: relative;
  z-index: 2;
  padding: rem-calc(30 20);
  width: 100%;
  height: 100%;
  color: $white;
  background-color: rgba(#1b193d, 0.5);
  background-image: linear-gradient(to right, #1b193d 0%, transparent 100%);
}
.banner-title {
  max-width: rem-calc(700);
}
.content {
  img {
    margin-bottom: rem-calc(15);
    width: 100%;
  }
}
.content-table {
  th,
  td {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  th {
    vertical-align: top;
    padding: rem-calc(6 10);
    line-height: unitless-calc(25, 15);
    font-weight: $global-weight-normal;
  }
  tbody {
    tr {
      & + tr {
        border-top: 1px solid $light-gray;
      }
    }
  }
  td {
    vertical-align: middle;
    padding: rem-calc(23 10);
    line-height: unitless-calc(21.0001, 15);
  }
}
.video-title {
  font-size: rem-calc(22);
  line-height: unitless-calc(34, 25);
  font-weight: 600;
}
.video-info {
  color: #7b7b7b;
}
.feedback-items {
  padding-bottom: rem-calc(10);
}
.feedback-item {
  margin-bottom: rem-calc(25);
  padding-bottom: rem-calc(4);
  border-bottom: 1px solid #dbdbdb;
}
.feedback-title {
  margin-bottom: rem-calc(6);
  line-height: 1;
  font-weight: $global-weight-normal;
}
.feedback-date {
  color: $secondary-color;
}
