.page-title {
  max-width: rem-calc(850);
  color: $anchor-color;
  @include breakpoint(medium) {
    margin-bottom: rem-calc(20);
  }
}
.custom-object-title {
  line-height: 1;
}
.pagination {
  li {
    width: rem-calc(40);
    line-height: 1;
    text-align: center;
    background-color: $white;
    &.pagination-previous,
    &.pagination-next {
      width: rem-calc(20.0001);
      background-color: transparent;
      a {
        padding: rem-calc(10 0);
      }
    }
  }
  @include breakpoint(large) {
    padding-top: rem-calc(34);
    padding-bottom: rem-calc(34);
  }
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
    li {
      margin-right: rem-calc(5);
      width: rem-calc(36);
    }
  }
}
.content-card-title {
  margin-bottom: $global-margin;
  font-size: rem-calc(22);
  line-height: 1;
  font-weight: 600;
  @include breakpoint(medium) {
    margin-bottom: rem-calc(46);
    font-size: rem-calc(25);
  }
}
.publications-title {
  color: $body-font-color;
}
.banner {
  height: rem-calc(260);
  background-color: $primary-color;
  @include breakpoint(medium) {
    height: rem-calc(425);
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(45);
  }
}
.banner-content {
  position: relative;
  z-index: 2;
  padding: rem-calc(30 20);
  width: 100%;
  height: 100%;
  color: $white;
  background-color: rgba(#1b193d, 0.5);
  background-image: linear-gradient(to right, #1b193d 0%, transparent 100%);
  @include breakpoint(medium) {
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);
  }
  @include breakpoint(large) {
    padding-left: rem-calc(70);
    padding-right: rem-calc(70);
  }
}
.banner-title {
  max-width: rem-calc(700);
  @include breakpoint(medium) {
    font-size: rem-calc(40);
    line-height: unitless-calc(55, 40);
    &.bordered {
      &:after {
        bottom: rem-calc(-30);
      }
    }
  }
}
.content {
  img {
    margin-bottom: rem-calc(15);
  }
}
.custom-content {
  blockquote {
    margin: rem-calc(20 0);
    font-size: rem-calc(18);
    line-height: unitless-calc(34.0001, 20);
    font-weight: 600;
    @include breakpoint(medium) {
      margin-left: rem-calc(-16);
      font-size: rem-calc(20);
    }
  }
  ol,
  ul {
    li {
      position: relative;
      padding: rem-calc(15 0);
      line-height: unitless-calc(20.0001, 15);
      &:before {
        position: absolute;
        left: 0;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: items-counter;
    li {
      padding-left: rem-calc(42);
      &:before {
        content: counter(items-counter);
        counter-increment: items-counter;
        top: rem-calc(9);
        display: inline-block;
        width: rem-calc(32);
        height: rem-calc(32);
        font-size: rem-calc(16);
        line-height: 2;
        text-align: center;
        background-color: #f1f1f1;
      }
    }
  }
  ul {
    li {
      padding-left: rem-calc(17);
      &:before {
        content: '\2022';
        top: rem-calc(15);
        font-size: rem-calc(26);
        line-height: 20px;
        font-weight: 700;
        color: $primary-color;
      }
    }
  }
}
.content-table {
  th,
  td {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      @include breakpoint(medium) {
        padding-right: 0;
        text-align: right;
        label {
          float: right;
        }
      }
    }
  }
  th {
    vertical-align: top;
    padding: rem-calc(6 10);
    line-height: unitless-calc(25, 15);
    font-weight: $global-weight-normal;
  }
  tbody {
    tr {
      & + tr {
        border-top: 1px solid $light-gray;
      }
    }
  }
  td {
    vertical-align: middle;
    padding: rem-calc(23 10);
    line-height: unitless-calc(21.0001, 15);
  }
  &.unstriped {
    tbody {
      tr {
        border-bottom: 0;
        background-color: $white;
      }
    }
  }
  @include breakpoint(small only) {
    &.stack {
      thead {
        th {
          display: block;
        }
      }
      tr,
      th,
      td {
        display: block;
      }
      td {
        border-top: 0;
      }
    }
  }
}
.video-title {
  font-size: rem-calc(22);
  line-height: unitless-calc(34, 25);
  font-weight: 600;
  @include breakpoint(medium) {
    font-size: rem-calc(25);
  }
}
.video-info {
  color: #7b7b7b;
}
.feedback-items {
  padding-bottom: rem-calc(10);
  @include breakpoint(large) {
    padding-bottom: rem-calc(23);
  }
}
.feedback-item {
  margin-bottom: rem-calc(25);
  padding-bottom: rem-calc(4);
  border-bottom: 1px solid #dbdbdb;
  @include breakpoint(medium) {
    margin-bottom: rem-calc(36);
  }
}
.feedback-title {
  margin-bottom: rem-calc(6);
  line-height: 1;
  font-weight: $global-weight-normal;
}
.feedback-date {
  color: $secondary-color;
  @include breakpoint(medium) {
    margin-bottom: rem-calc(18);
  }
}
.map {
  width: 100%;
  height: rem-calc(300);
  border: 7px solid $white;
  @include breakpoint(medium) {
    height: rem-calc(400);
  }
  @include breakpoint(large) {
    height: rem-calc(560);
  }
}
.dealers-map {
  height: rem-calc(486);
  @include breakpoint(medium) {
    height: rem-calc(360);
  }
  @include breakpoint(large) {
    height: rem-calc(500);
  }
}
.tabs-content {
  border: 0;
}
