.product-card {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(10);
  @include breakpoint(medium) {
    padding: rem-calc(20);
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(45);
    padding: rem-calc(30 20);
  }
}
.parameters-table-wrapper {
  margin-bottom: rem-calc(20);
}
.details-table {
  padding: rem-calc(21 10 2);
  background-color: #f5f5fa;
  th,
  td {
    padding: rem-calc(11 16);
    line-height: unitless-calc(20.0001, 15);
    &:first-child {
      padding-left: rem-calc(16);
    }
    &:last-child {
      padding-right: rem-calc(16);
      @include breakpoint(medium) {
        padding-right: rem-calc(10);
        text-align: left;
      }
    }
    @include breakpoint(small only) {
      padding: rem-calc(10);
      & + th,
      & + td {
        padding-top: 0;
      }
      &:first-child {
        padding-left: rem-calc(10);
        font-weight: 600;
      }
      &:last-child {
        padding-right: rem-calc(10);
      }
    }
  }
  tr {
    & + tr {
      border-top: 1px solid #d5d5dd;
    }
  }
  &.unstriped {
    tbody {
      tr {
        background-color: #f5f5fa;
      }
    }
  }
}
.product-card-button {
  margin-top: rem-calc(16);
}
.parameters-card {
  padding: rem-calc(10 9);
  @include breakpoint(medium) {
    padding: rem-calc(20);
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(80);
    padding: rem-calc(0 9 33);
  }
}
.parameters-table {
  margin-bottom: $global-margin;
  font-size: rem-calc(13);
  line-height: unitless-calc(16, 13);
  table {
    margin-bottom: 5px;
  }
  thead,
  tbody {
    color: $black;
  }
  thead {
    tr {
      &:first-child {
        background-color: #f5f5fa;
        th {
          padding-top: rem-calc(28);
          padding-bottom: rem-calc(28);
          font-size: rem-calc(14);
          line-height: unitless-calc(17, 14);
          font-weight: $global-weight-normal;
        }
      }
      &:nth-child(2) {
        th {
          padding-top: rem-calc(23);
          padding-bottom: rem-calc(23);
          font-weight: 600;
        }
      }
    }
  }
  tbody {
    border-top: 1px solid #d5d5dd;
    border-bottom: 1px solid #d5d5dd;
  }
  th,
  td {
    padding: rem-calc(16 20);
    &:first-child {
      padding-left: rem-calc(10);
    }
    & + th,
    & + td {
      border-left: 1px solid #d5d5dd;
    }
  }
  @include breakpoint(small only) {
    thead {
      tr {
        &:first-child {
          th {
            padding-top: rem-calc(18);
            padding-bottom: rem-calc(18);
          }
        }
        &:nth-child(2) {
          th {
            padding-top: rem-calc(15);
            padding-bottom: rem-calc(15);
          }
        }
      }
    }
    th,
    td {
      padding: rem-calc(10);
    }
  }
}
.parameters-content {
  padding: rem-calc(0 5);
  @include breakpoint(large) {
    padding-left: rem-calc(30);
    padding-right: rem-calc(70);
  }
}
.order {
  border: 10px solid #241d7f;
  color: $white;
  background-color: $primary-color;
  box-shadow: inset 0 0 0 5px #36308c;
  @include breakpoint(medium) {
    border-width: 25px;
  }
  @include breakpoint(large) {
    margin-bottom: rem-calc(62);
  }
}
.order-content {
  margin-left: auto;
  margin-right: auto;
  padding: rem-calc(30 20);
  max-width: rem-calc(760);
  & > :last-child {
    margin-bottom: 0;
  }
  @include breakpoint(medium) {
    padding: rem-calc(60 60 40);
  }
}
.order-title {
  font-size: rem-calc(23);
  line-height: unitless-calc(30.05, 23);
  font-weight: $global-weight-bold;
  @include breakpoint(medium) {
    font-size: rem-calc(26);
    &.bordered {
      margin-bottom: rem-calc(70);
      &:after {
        bottom: rem-calc(-35);
      }
    }
  }
  @include breakpoint(large) {
    line-height: 1;
  }
}
.order-button {
  margin-top: rem-calc(15);
  height: rem-calc(47.0001);
  @include breakpoint(medium) {
    margin-top: rem-calc(37);
  }
}
