<div class="blocks-cell cell">
  <a href="#" class="goods-card blocks-card card">
    <div class="goods-card-picture picture-container"><img src="assets/img/goods/1.jpg" alt=""></div>
    <div class="goods-card-content card-section">Промышленные <br>сетки</div>
  </a>
</div>
<!-- /.cell -->
<div class="blocks-cell cell">
  <a href="#" class="goods-card blocks-card card">
    <div class="goods-card-picture picture-container"><img src="assets/img/goods/2.jpg" alt=""></div>
    <div class="goods-card-content card-section">Каркасные <br>сетки</div>
  </a>
</div>
<!-- /.cell -->
<div class="blocks-cell cell">
  <a href="#" class="goods-card blocks-card card">
    <div class="goods-card-picture picture-container"><img src="assets/img/goods/3.jpg" alt=""></div>
    <div class="goods-card-content card-section">Проволока</div>
  </a>
</div>
<!-- /.cell -->
<div class="blocks-cell cell">
  <a href="#" class="goods-card blocks-card card">
    <div class="goods-card-picture picture-container"><img src="assets/img/goods/4.jpg" alt=""></div>
    <div class="goods-card-content card-section">Сетки и ограждения</div>
  </a>
</div>
<!-- /.cell -->
<div class="blocks-cell cell">
  <a href="#" class="goods-card blocks-card card">
    <div class="goods-card-picture picture-container"><img src="assets/img/goods/5.jpg" alt=""></div>
    <div class="goods-card-content card-section">Изделия из сетки</div>
  </a>
</div>
<!-- /.cell -->