<script>
  var map,
    dealersMap;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 58.074505, lng: 55.767927 },
      zoom: 13,
      disableDefaultUI: true,
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      scaleControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    dealersMap = new google.maps.Map(document.getElementById('dealers-map'), {
      center: { lat: 57.984543, lng: 56.265223 },
      zoom: 12,
      disableDefaultUI: true,
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      scaleControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var marker = new google.maps.Marker({
      position: { lat: 58.074505, lng: 55.767927 },
      map: map
    });

    var dealersMarkerFirst = new google.maps.Marker({
      position: { lat: 57.994775, lng: 56.202294 },
      map: dealersMap,
      title: 'Мир Сетки - производство сетки-рабицы и кладочной сетки'
    });
    var dealersMarkerSecond = new google.maps.Marker({
      position: { lat: 57.984543, lng: 56.265223 },
      map: dealersMap,
      title: 'Сетка Рабица, сетка кладочная, заборы 3Д, еврозабор, колючая проволока.'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTBBV7bHzXujhrXUQoCCYlnPG5y-U9414&amp;callback=initMap"
  async defer></script>