<div class="parameters-table table-scroll">
  <table>
    <thead>
      <tr>
        <th colspan="3">Кол-во нитей на 1 см (шт)</th>
        <th colspan="2">Вид сырья и номинальный диаметр нити</th>
        <th>Толщина сетки</th>
        <th colspan="3">Воздухоролницаемость</th>
        <th>Кол-во точек опоры (шт/см2)</th>
        <th>Теоритическая масса (1 м2 сетки, кг.)</th>
      </tr>
      <tr>
        <th>Номер сетки</th>
        <th>Основа</th>
        <th width="92">Уток</th>
        <th>Основа (Па)</th>
        <th>Уток</th>
        <th></th>
        <th width="102">CFM</th>
        <th>FCI</th>
        <th>DI</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>37/45</td>
        <td>37</td>
        <td>B-1150</td>
        <td>37</td>
        <td>B-1150</td>
        <td>0,95-1,30</td>
        <td>0,95-1,30</td>
        <td>37</td>
        <td>37</td>
        <td>37/45</td>
        <td>37</td>
      </tr>
      <tr>
        <td>58/84</td>
        <td>84</td>
        <td>H2-1150</td>
        <td>84</td>
        <td>H2-1150</td>
        <td>0,95-1,30</td>
        <td>0,95-1,30</td>
        <td>84</td>
        <td>84</td>
        <td>58/84</td>
        <td>84</td>
      </tr>
      <tr>
        <td>48/48</td>
        <td>554</td>
        <td>B-1150</td>
        <td>554</td>
        <td>B-1150</td>
        <td>2,95-1,30</td>
        <td>2,95-1,30</td>
        <td>55</td>
        <td>54</td>
        <td>48/48</td>
        <td>554</td>
      </tr>
      <tr>
        <td>154/48</td>
        <td>4156</td>
        <td>B-1150</td>
        <td>4156</td>
        <td>B-1150</td>
        <td>0,95-1,30</td>
        <td>0,95-1,30</td>
        <td>6</td>
        <td>56</td>
        <td>154/48</td>
        <td>4156</td>
      </tr>
    </tbody>
  </table>
  <!-- /.parameters-table -->
</div>
<!-- /.table-scroll -->